.redFlower {
    /* margin-top: 50px; */
    /* height: 205px; */
    max-width: 255px;
    width: 100%;
}

.myFlower {
    /* margin-top: 50px; */
    /* height: 205px; */
    max-width: 255px;
    width: 100%;
}


.Flower {
    /* margin-top: 50px; */
    /* height: 205px; */
    max-width: 255px;
    width: 100%;
}


.nadpis {
    margin-top: 50px;
}

.black-text {
    color: black;
}

.carousel-caption {
    background-color: rgba(255,255,255,0.5);
}


.map {
    /* margin-top: 196px; */
    /* height: 207px; */
    max-width: 255px;
    width: 100%;
}
