.redFlower {
    /* margin-top: 50px; */
    /* height: 205px; */
    max-width: 255px;
    width: 100%;
}

.myFlower {
    /* margin-top: 50px; */
    /* height: 205px; */
    max-width: 255px;
    width: 100%;
}


.nadpis {
    margin-top: 50px;
}
